Infrastructure/IoTWork.Agent.DeviceManager/Service References/DeviceManagerAgent/ManagementService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://iotwork.iotreader/commands" elementFormDefault="qualified" targetNamespace="http://iotwork.iotreader/commands" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8089/ManagementService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="RestoreFactory">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RestoreFactoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RestoreFactoryAndRestartDevice">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RestoreFactoryAndRestartDeviceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RestartDevice">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RestartDeviceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RestartApplication">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RestartApplicationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StopAcquire">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StopAcquireResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RestartAcquire">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RestartAcquireResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AskForStatistics">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AskForStatisticsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AskForErrors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AskForErrorsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AskForAlive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AskForAliveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AskForUpTime">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AskForUpTimeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListOfDllFilesForSensors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListOfDllFilesForSensorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="ListOfDllFilesForSensorsResult" nillable="true" type="q1:ArrayOfTupleOfstringdateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListOfDllFilesForPipes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListOfDllFilesForPipesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="ListOfDllFilesForPipesResult" nillable="true" type="q2:ArrayOfTupleOfstringdateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadRequestForDllFileForSensor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FilePosition" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Signature" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SkipIfPresent" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadRequestForDllFileForSensorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadRequestForDllFileForPipe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FilePosition" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Signature" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SkipIfPresent" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadRequestForDllFileForPipeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadConfigurationDeviceFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stream" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Signature" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadConfigurationDeviceFileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadConfigurationLogFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stream" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Signature" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadConfigurationLogFileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>